body{
  background-color:#f4f4f4;
  color:#b84646;
  font-family: Helvetica, Arial;
  
    }
ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
  }
li {
    float: left;
  }
  
  a {
    display: block;
    padding: 16px;
    background-color: #dddddd;
  }
